# python
PYTHONUNBUFFERED=1

# django
SECRET_KEY="your-secret-key-here"
DEBUG=True

# AI(LLM) API KEYS
LLM_PROVIDER="gemini"
GEMINI_API_KEY="your-gemini-api-key"

# Database (PostgreSQL)
POSTGRES_DB=git_emotion_card
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Celery / Redis
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0